* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  /* background-color: #006622; */
  background-image: linear-gradient(
    to right,
    rgb(0, 102, 34),
    rgba(0, 102, 34, 0.7),
    rgb(0, 102, 34)
  );
}

/* PLAYERS SECTIONS */

section.boxes {
  display: flex;
  width: 1000px;
  height: 500px;
  margin-top: 5%;
  box-shadow: 0 4px 8px 0 rgba(51, 51, 51, 0.2),
    0 6px 20px 0 rgba(51, 51, 51, 0.19);
}

section.box {
  flex-basis: 50%;
  background: rgba(255, 255, 255, 0.3);
  padding-top: 100px;
}

section.left {
  border-radius: 7px 0 0 7px;
}

section.right {
  border-radius: 0 7px 7px 0;
}

h2 {
  letter-spacing: 7px;
  font-size: 30px;
  color: rgba(51, 51, 51, 0.7);
}

div.total {
  padding-top: 20px;
  font-size: 70px;
  color: #f2f2f2;
}

div.current {
  margin: 120px 25% 10% 25%;
  font-size: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}

h3 {
  letter-spacing: 3px;
  padding-top: 20px;
  color: rgb(0, 102, 34);
}

p {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px;
  color: rgb(0, 102, 34);
}

/* BUTTONS */

button {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: #f2f2f2;
  padding: 10px;
  color: rgba(51, 51, 51, 0.7);
  box-shadow: 0 4px 8px 0 rgba(0, 102, 34, 0.2),
    0 6px 20px 0 rgba(0, 102, 34, 0.19);
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
}

button.roll {
  top: 400px;
}

button.hold {
  top: 450px;
}

/* dice */

div.dice {
  display: none;
  position: absolute;
  top: 310px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  width: 100px;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 102, 34, 0.2),
    0 6px 20px 0 rgba(0, 102, 34, 0.19);
  border-radius: 3px;
}

svg {
  width: 100px;
  height: 100px;
}

svg.hidden {
  display: none;
}
